<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Details</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="modules.css">
  <link rel="stylesheet" href="layout.css">
  <link rel="stylesheet" href="state.css">
  <link rel="stylesheet" href="reset.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
</head>

<body>

  <form class="saved-books-form">
    <ul>
      <li class="book">
        <h3><%= book.title %></h3>
        <img src='<%= book.image_url %>' alt="book thumbnail">
        <p class="label-p">Author:</p>
        <h6><%= book.author %></h6>
        <p><%= book.isbn %></p>
        <p><%= book.bookshelf %></p>
        <p class="label-p">Description:</p>
        <p class="description"><%= book.description %></p>
      </li>
    </ul>
  </form>

</body>

</html>