<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google Books Project</title>
  <link rel="stylesheet" href="base.css">
  <link rel="stylesheet" href="modules.css">
  <link rel="stylesheet" href="layout.css">
  <link rel="stylesheet" href="state.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
</head>

<h1>Title of App</h1>

<a href="/search">Search Books</a>

<%= if(results.rows > 0)  {%>
<ul class="saved-books">
  <% results.forEach(book => { %>
    <li class="saved-book">
      <img src=<%= book.image %>alt="book thumbnail">
      <h4><%= book.title %></h4>
      <h6><%= book.author %></h6>
      <p><%= book.description %></p>
      <button>Save To List</button>
    </li>
  <% }) %>
</ul>
<% } else { %>
    <h3>No Saved Books!</h3>
  <% } %>
</body>

</html>