<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Results</title>
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/modules.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/state.css">
  <link rel="stylesheet" href="styles/reset.css">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
</head>

<body>
  <h1 class="title">Search Results</h1>
  <a href="search">SEARCH AGAIN</a>
  <section class="books-list">
    <% data.forEach(book => { %>
      <section class="book-results-list">
        <li class="book">
          <h4><%= book.title %></h4>
          <img src='<%= book.image_url %>' alt="book thumbnail">
          <em>
            <p class="book-author"><%= book.author %></p>
          </em>
          <p class="book-description"><%= book.description %></p>


          <label for="updateCheckbox">SELECT BOOK</label>
          <input type="checkbox" id="expand-update-form" />
          <%- include("../layout/updateForm.ejs", {book: book}) %>
        </li>
    </section>
      <% }) %>
  </section>
  <%- include("../layout/footer.ejs") %>
</body>

</html>